<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/mainTheme.css">

    <title>Accueil</title>
</head>
<body>
<header th:replace="~{fragments::header}"></header>
<section>
    <main>
        <img src="image/surgery-symbol.png">
    </main>
    <aside>
        <h2>Accueil</h2>
        <p>Bienvenue sur le site Aide OPSLIB, veuillez vous inscrire ou vous identifier</p>
        <div>
            <ul>
                <li><a href="inscription">S'inscrire</a></li>
                <li><a href="connexion">Se connecter</a></li>
            </ul>
        </div>
    </aside>
</section>
</body>
</html>