<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AideOpsLIB - modifier vos infos</title>
    <link rel="stylesheet" href="css/mainTheme.css">
    <script src="js/modifierPassword.js" type="application/javascript"></script>
</head>
<body>
<header th:replace="~{fragments::header}"></header>
<div>
    <h2  th:if="${profession==2}" th:text="${'Docteur '+user.nom+' '+user.prenom+' - Modification de votre mot de passe'}"></h2>
    <h2   th:if="${profession==1}" th:text="${user.nom+' '+user.prenom+' - Modification de votre mot de passe'}"></h2>

    <ul>
        <li><a href="modifierprofile">Annuler</a></li>
    </ul>

    <form method="post" onsubmit="return verifForm(this)">
        <p><label for="oldpassword">Ancien Mot de Passe</label><input type="password" name="oldpassword" id="oldpassword"></p>
        <p><label for="newpassword">Nouveau Mot de Passe</label><input type="password" name="newpassword" id="newpassword"></p>
        <p><label for="verifynewpassword">Retapez le nouveau Mot de Passe</label><input type="password" name="verifynewpassword" id="verifynewpassword"></p>
        <p><a href="modifierprofile">Annuler</a></p>
        <p><input type="submit" value="Changer le mot de passe"></p>
    </form>
</div>
</body>
</html>